body{
    margin: 0px;
    padding: 0px;
    background-color: azure;
}

li{
    max-width: 1150px;
    padding-top: 20px;
    font-size: large;
}

.divTextSpace{
    padding-top: 50px;
    padding-left: 100px;
    width: 1400px;
}

.divContainer{
    display: flex;
}

.divImageSpace{
    text-align: right;
    
}

.imgSpace{
    max-width: 500px;
    height: 1000px;
}