* {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}

body {
    background-color: #f36969; 
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 250px;
}
.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: #aaddff;
    margin: 20px;
    margin-bottom: 0px;
}
.in-flex div{
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

table {
    border-collapse: collapse;
}
  
td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}